<div class="wrapper">

    <header>
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a [routerLink]="['/new/home']" routerLinkActive="router-link-active"  title=""><img src="images/logo.png" alt=""></a>
                </div>
                <!--logo end-->
                <div class="search-bar">
                    <form>
                        <input id="myInput" onkeyup="" type="text" name="search" placeholder="Search...">
                        <button type="submit"><i class="la la-search"></i></button>
                    </form>
                </div>
                <!--search-bar end-->
                <nav>
                    <ul>
                        <li>
                            <a [routerLink]="['/new/home']" routerLinkActive="router-link-active"  title="">
                                <span><img src="images/icon1.png" alt=""></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/new/profiles']" routerLinkActive="router-link-active"  title="">
                                <span><img src="images/icon4.png" alt=""></span>
                                Profiles
                            </a>
                            <ul>
                                <li><a [routerLink]="['/new/profiles']" routerLinkActive="router-link-active" title="">User Profile</a></li>
                                <li><a [routerLink]="['/new/companies']" routerLinkActive="router-link-active" title="">Company Profile</a></li>
                            </ul>
                        </li>
                        <li>
                            <a [routerLink]="['/new/store']" routerLinkActive="router-link-active" title="">
                                <span><img src="images/icon5.png" alt=""></span>
                                Store
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="not-box-open">
                                <span><img src="images/icon6.png" alt=""></span>
                                Messages
                            </a>
                            <div class="notification-box msg">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a id="clearbutton" href="#" title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    
                                    <div class="view-all-nots">
                                        <a [routerLink]="['/new/messages']" routerLinkActive="router-link-active" title="">View All Messsages</a>
                                    </div>
                                </div>
                                <!--nott-list end-->
                            </div>
                            <!--notification-box end-->
                        </li>
                    </ul>
                </nav>
                <!--nav end-->
                <div class="menu-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div>
                <!--menu-btn end-->
                <div class="user-account">
                    <div class="user-info">
                        <img src="https://localhost:8443/api/users/{{iduser}}/imageProfile" alt="">
                        <a href="#" title=""></a>
                        <i class="la la-sort-down"></i>
                    </div>
                    <div class="user-account-settingss">
                        <h3>Username</h3>
                        <div class="search_form">
                            <form>
                                <input type="text" name="search" placeholder="{{username}}" readonly>
                            </form>
                        </div>							
                        <!--search_form end-->
                        <h3>Setting</h3>
                        <ul class="us-links">
                            <li *ngIf="admin"><a [routerLink]="['/new/admin']" routerLinkActive="router-link-active">Admin Page</a></li>
                            <li><a [routerLink]="['/new/myprofilefeed']" routerLinkActive="router-link-active" title="">Profile Setting</a></li>
                            <li><a [routerLink]="['/new/settings']" routerLinkActive="router-link-active" title="">Account Setting</a></li>
                            <li><a href="#" title="">Privacy</a></li>
                            <li><a href="#" title="">Faqs</a></li>
                            <li><a href="#" title="">Terms & Conditions</a></li>
                        </ul>
                        <form action="/logout" method="POST">
                            <h3 class="tc"><input id="uploadImage" type="submit" value="Logout" /></h3>
                        </form>
                    </div>
                    <!--user-account-settingss end-->
                </div>
            </div>
            <!--header-data end-->
        </div>
    </header>
    <router-outlet></router-outlet>
</div>