<div class="search-sec">
    <div class="container">
        <div class="search-box">
            <form>
                <input type="text" name="search" placeholder="Search keywords">
                <button type="submit">Search</button>
            </form>
        </div><!--search-box end-->
    </div>
</div><!--search-sec end-->

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile">
                                    <div class="username-dt">
                                        <div class="usr-pic">
                                            <img src="https://localhost:8443/api/users/{{userInfo.idusers}}/imageProfile" alt="">
                                        </div>
                                    </div>
                                    <!--username-dt end-->
                                    <div class="user-specs">
                                        <h3>{{userInfo.username}}</h3>
                                    </div>
                                </div>
                                <!--user-profile end-->
                                <ul class="user-fw-status">
                                    <li>
                                        <h4>Following</h4>
                                        <span>{{following}}</span>
                                    </li>
                                    <li>
                                        <h4>Followers</h4>
                                        <span>{{followers}}</span>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/new/userpage','{{userInfo.idusers}}']" routerLinkActive="router-link-active" title="">View Profile</a>
                                    </li>
                                </ul>
                            </div>
                            <!--user-data end-->
                            <div class="suggestions full-width">
                                <div class="sd-title">
                                    <h3>Suggestions</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <!--sd-title end-->
                                <div class="suggestions-list">
                                    <div class="suggestion-usd">
                                        <img src="https://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="https://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>John Doe</h4>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="https://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>Poonam</h4>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="https://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>Bill Gates</h4>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="https://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>Jessica William</h4>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="suggestion-usd">
                                        <img src="https://via.placeholder.com/35x35" alt="">
                                        <div class="sgt-text">
                                            <h4>John Doe</h4>
                                        </div>
                                        <span><i class="la la-plus"></i></span>
                                    </div>
                                    <div class="view-more">
                                        <a href="#" title="">View More</a>
                                    </div>
                                </div>
                                <!--suggestions-list end-->
                            </div>
                            <!--suggestions end-->
                            <div class="tags-sec full-width">
                                <ul>
                                    <li><a href="#" title="">Help Center</a></li>
                                    <li><a href="#" title="">About</a></li>
                                    <li><a href="#" title="">Privacy Policy</a></li>
                                    <li><a href="#" title="">Community Guidelines</a></li>
                                    <li><a href="#" title="">Cookies Policy</a></li>
                                    <li><a href="#" title="">Career</a></li>
                                    <li><a href="#" title="">Language</a></li>
                                    <li><a href="#" title="">Copyright Policy</a></li>
                                </ul>
                                <div class="cp-sec">
                                    <img src="../../../assets/images/logo2.png" alt="">
                                    <p><img src="../../../assets/images/cp.png" alt="">Copyright 2018</p>
                                </div>
                            </div>
                            <!--tags-sec end-->
                        </div>
                        <!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            <div class="post-topbar">
                                <div class="user-picy">
                                    <img src="https://localhost:8443/api/users/{{userInfo.idusers}}/imageProfile" alt="">
                                </div>
                                <div class="post-st">
                                    <ul>
                                        <li><a class="post_project" href="#" title="">Post a Post</a></li>
                                        <li><a class="post-jb active" href="#" title="">Post a Product</a></li>
                                    </ul>
                                </div>
                                <!--post-st end-->
                            </div>
                            <!--post-topbar end-->
                            <div class="posts-section" id="myUL">
                                    <div class="post-bar" *ngFor="let post of posts">
                                        <div class="post_topbar">
                                            <div class="row usy-dt">
                                                <div class="user-post-icon">
                                                    <img src="https://localhost:8443/api/users/{{post.iduser.idusers}}/imageProfile"
                                                        alt="">
                                                </div>
                                                <div class="usy-name">
                                                    <h3>{{post.iduser.username}}</h3>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="epi-sec">
                                            <ul class="descp">
                                                <li><img src="../../../assets/images/icon8.png" alt=""><span>{{post.iduser.city}}</span></li>
                                                <li><img src="../../../assets/images/icon9.png" alt=""><span>{{post.iduser.city}}</span></li>
                                            </ul>
                                            <ul class="bk-links">
                                                <li><a id="{{post.idpost}}" title=""><i
                                                            onclick="like('{{post.idpost}}')"
                                                            class="{{like}}"></i></a></li>
                                                <li><a href="/messages?to={{post.iduser.username}}" title=""><i class="la la-envelope"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="job_descp">
                                            <h3>{{post.title}}</h3>
                                            <div class="row">
                                                <ul class="image-store">
                                                    <li><img src="https://localhost:8443/api/posts/{{post.idpost}}/image" alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="row">
                                                <ul class="description-store">
                                                    <li>
                                                        <p>{{post.description}}</p>
                                                    </li>
                                                </ul>
                                            </div><br>
                                            <a id="readmore{{post.idpost}}"
                                                class="btn btn-primary stretched-link"
                                                onclick="readmore('{{post.idpost}}')" title="">view more</a>
                                        </div>
                                    </div>
                            </div>
                            <div class="process-comm">
                                <div class="spinner posts">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                            <!--posts-section end-->
                        </div>
                        <!--main-ws-sec end-->
                    </div>
                    <div class="col-lg-3 pd-right-none no-pd">
                        <div class="right-sidebar">

                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Store</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="jobs-list" *ngFor="let bookmark of bookmarks">
                                    <div class="job-info">
                                        <a href="./messages?to={{bookmark.iduser.username}}" title="" >
                                            <div class="job-details">
                                                <h3>{{bookmark.idproduct.title}}</h3>
                                                <p></p>
                                            </div>
                                            <div class="hr-rate">
                                                <span>${{bookmark.idproduct.title}}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!--jobs-list end-->
                            </div>
                            <!--widget-jobs end-->

                            <div class="widget suggestions full-width">
                                <div class="sd-title">
                                    <h3>Most Followed People</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <!--sd-title end-->
                                <div class="suggestions-list">
                                    <div class="suggestion-usd">
                                        <div class="sgt-text">
                                            <h4>{{userInfo.username}}</h4>
                                        </div>
                                        <span><a href="/messages?to={{userInfo.username}}"><i class="la la-envelope"></i></a></span>
                                    </div>
                                    <div class="view-more">
                                        <a onclick="viewMoreSuggestion()" title="">View More</a>
                                    </div>
                                </div>
                                <!--suggestions-list end-->
                            </div>
                        </div>
                        <!--right-sidebar end-->
                    </div>
                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>

<div class="post-popup pst-pj">
    <div class="post-project">
        <h3>Post a Post</h3>
        <div class="post-project-fields">
            <form action="uploadPost" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 imgUp">
                                    <div class="imagePreview"></div>
                                    <label class="btn btn-primary">
                                        Upload<input name="imag0" type="file" class="uploadFile img"
                                            value="Upload Photo"
                                            style="width: 0px;height: 0px;overflow: hidden;"
                                            accept="image/*" required>
                                    </label>
                                    <i class="fa fa-times del"></i>
                                </div><!-- col-2 -->
                            </div><!-- row -->
                        </div><!-- container -->
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="title" placeholder="Title" required>
                    </div>
                    <div class="col-lg-12">
                        <textarea name="description" placeholder="Description" required></textarea>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" value="post">Post</button></li>
                            <li><a href="#" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <!--post-project-fields end-->
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div>
    <!--post-project end-->
</div>
<!--post-project-popup end-->

<div class="post-popup job_post">
    <div class="post-project">
        <h3>Post a Product</h3>
        <div class="post-project-fields">
            <form action="uploadProduct" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 imgUp">
                                    <div class="imagePreview"></div>
                                    <label class="btn btn-primary">
                                        Upload<input name="imag0" type="file" class="uploadFile img"
                                            value="Upload Photo"
                                            style="width: 0px;height: 0px;overflow: hidden;"
                                            accept="image/*" required>
                                    </label>
                                    <i class="fa fa-times del"></i>
                                </div><!-- col-2 -->
                                <div class="col-md-4 imgUp">
                                    <div class="imagePreview"></div>
                                    <label class="btn btn-primary">
                                        Upload<input name="imag1" type="file" class="uploadFile img"
                                            value="Upload Photo"
                                            style="width: 0px;height: 0px;overflow: hidden;"
                                            accept="image/*">
                                    </label>
                                    <i class="fa fa-times del"></i>
                                </div><!-- col-2 -->
                                <div class="col-md-4 imgUp">
                                    <div class="imagePreview"></div>
                                    <label class="btn btn-primary">
                                        Upload<input name="imag2" type="file" class="uploadFile img"
                                            value="Upload Photo"
                                            style="width: 0px;height: 0px;overflow: hidden;"
                                            accept="image/*">
                                    </label>
                                    <i class="fa fa-times del"></i>
                                </div><!-- col-2 -->
                            </div><!-- row -->
                        </div><!-- container -->
                    </div>
                    <div class="col-lg-12">
                        <input type="text" name="title" placeholder="Title" required>
                    </div>
                    <div class="col-lg-6">
                        <div class="price-br">
                            <input type="text" name="price" placeholder="Price" required>
                            <i class="la la-dollar"></i>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <textarea name="description" placeholder="Description" required></textarea>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><input name="tag" type="checkbox" id="one" />Electronics</li>
                            <li><input name="tagtwo" type="checkbox" id="two" />Furnitures</li>
                            <li><input name="tagthree" type="checkbox" id="three" />Appliance</li>
                            <li><input name="tagfour" type="checkbox" id="four" />Books</li>
                            <li><input name="tagfive" type="checkbox" id="five" />Clothes</li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                        <ul>
                            <li><button class="active" type="submit" value="post">Post</button></li>
                            <li><a href="#" title="">Cancel</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <!--post-project-fields end-->
        <a href="#" title=""><i class="la la-times-circle-o"></i></a>
    </div>
    <!--post-project end-->
</div>
