<header>
    <div class="container">
        <div class="header-data">
            <div class="logo">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active" title=""><img
                        src="../assets/images/logo.png" alt=""></a>
            </div>
            <!--logo end-->
            <div class="search-bar">

            </div>
            <!--search-bar end-->
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/home']" routerLinkActive="router-link-active" title="">
                            <span><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/profiles']" routerLinkActive="router-link-active" title="">
                            <span><mat-icon>supervisor_account</mat-icon></span>
                            Profiles
                        </a>
                        <ul>
                            <li><a [routerLink]="['/profiles']" routerLinkActive="router-link-active" title="">User
                                    Profile</a></li>
                            <li><a [routerLink]="['/companies']" routerLinkActive="router-link-active"
                                    title="">Company Profile</a></li>
                        </ul>
                    </li>
                    <li>
                        <a [routerLink]="['/store']" routerLinkActive="router-link-active" title="">
                            <span><mat-icon> local_grocery_store</mat-icon></span>
                            Store
                        </a>
                    </li>
                    <li>
                        <a title="" class="not-box-open">
                            <span><mat-icon> message</mat-icon></span>
                            Messages
                        </a>
                        <div class="notification-box msg">
                            <div class="nt-title">
                                <h4></h4>
                                <a id="clearbutton" (click)="clearNotify()" title="">Clear all</a>
                            </div>
                            <div class="nott-list">
                                <a *ngFor="let notify of notifys"  title="">
                                    <div id="new' + data.fromLogin + '" class="notfication-details">
                                        <div class="noty-user-img"><img
                                                src="https://localhost:8443/imageprofile/{{ notify.fromLogin}}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a  title="">{{ notify.fromLogin}}</a> </h3>
                                            <p>{{notify.message}}</p><span>{{notify.time}}</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                </a>
                                <div class="view-all-nots">
                                    <a [routerLink]="['/messages']" routerLinkActive="router-link-active"
                                        title="">View All Messsages</a>
                                </div>
                            </div>
                            <!--nott-list end-->
                        </div>
                        <!--notification-box end-->
                    </li>
                </ul>
            </nav>
            <!--nav end-->
            <div class="menu-btn">
                <a title=""><i class="fa fa-bars"></i></a>
            </div>
            <!--menu-btn end-->
            <div class="user-account">
                <div class="user-info">
                    <img src="https://localhost:8443/api/users/{{user.idusers}}/imageProfile" alt="">
                    <a href="#" title=""></a>
                    <i class="la la-sort-down"></i>
                </div>
                <div class="user-account-settingss">
                    <h3>Username</h3>
                    <div class="search_form">
                        <form *ngIf="user.username">
                            <input type="text" name="search" placeholder="{{user.username}}" readonly>
                        </form>
                    </div>
                    <!--search_form end-->
                    <h3>Setting</h3>
                    <ul class="us-links">
                        <li *ngIf="admin"><a [routerLink]="['/admin']" routerLinkActive="router-link-active">Admin
                                Page</a></li>
                        <li><a [routerLink]="['/settings']" routerLinkActive="router-link-active" title="">Settings</a></li>
                    </ul>
                    <form action="/logout" method="POST">
                        <h3 class="tc"><input (click)="logout()" id="uploadImage" type="button" value="Logout" /></h3>
                    </form>
                </div>
                <!--user-account-settingss end-->
            </div>
        </div>
        <!--header-data end-->
    </div>
</header>