<app-navbar></app-navbar>
<div class="search-sec">
    <div class="container">
        <div class="search-box">
            <form>
                <input type="text" name="search" placeholder="Search keywords">
                <button type="submit">Search</button>
            </form>
        </div><!--search-box end-->
    </div>
</div><!--search-sec end-->

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="filter-secs">
                            <div class="filter-heading">
                                <h3>Filters</h3>
                                <a onclick="clearAllFilter()" title="">Clear Filters</a>
                            </div>
                            <!--filter-heading end-->
                            <div class="paddy">
                                <div class="filter-dd">
                                    <div class="filter-ttl">
                                        <h3>Tags Words</h3>
                                        <a onclick="document.getElementById('word').value = ''"
                                            title="">Clear</a>
                                    </div>
                                    <form>
                                        <input id="word" onkeyup="SearchKeyWords()" type="text" name="search-skills" placeholder="">
                                    </form>
                                </div>
                                <div class="filter-dd">
                                    <div class="filter-ttl">
                                        <h3>Status</h3>
                                        <a onclick="$('.selectall').attr('checked',false)" title="">Clear</a>
                                    </div>
                                    <ul class="avail-checks">
                                        <li>
                                            <input class='selectall' type="radio" name="cc" onclick="SearchStatus1()" id="c1">
                                            <label for="c1">
                                                <span></span>
                                            </label>
                                            <small>In Stock</small>
                                        </li>
                                        <li>
                                            <input class='selectall' type="radio" name="cc" onclick="SearchStatus2()" id="c2">
                                            <label for="c2">
                                                <span></span>
                                            </label>
                                            <small>Reserved</small>
                                        </li>
                                        <li>
                                            <input class='selectall' type="radio" name="cc" onclick="SearchStatus3()" id="c3">
                                            <label for="c3">
                                                <span></span>
                                            </label>
                                            <small>Sold</small>
                                        </li>
                                    </ul>
                                </div>

                                <div class="filter-dd">
                                    <div class="filter-ttl">
                                        <h3>Price</h3>
                                        <a onclick="clearSlider()" title="">Clear</a>
                                    </div>
                                    <div class="rg-slider">
                                        <input id="sliderInput" class="rn-slider slider-input" type="hidden" value="5,50" onchange="searchSlider()" />
                                    </div>
                                    <div class="rg-limit">
                                        <h4>1</h4>
                                        <h4>100+</h4>
                                    </div>
                                    <!--rg-limit end-->
                                </div>

                                <div class="filter-dd">
                                    <div class="filter-ttl">
                                        <h3>City</h3>
                                        <a onclick="$('#menu option[value=0]').attr('selected', true)"
                                            title="">Clear</a>
                                    </div>
                                    <form class="job-tp">
                                        <select id="menu" onchange="searchCity()">
                                            <option value="0">Select a City</option>
                                            <option value="Madrid">Madrid</option>
                                            <option value="Barcelona">Barcelona</option>
                                            <option value="Oviedo">Oviedo</option>
                                        </select>
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--filter-secs end-->
                    </div>
                    <div class="col-lg-8">
                        <div class="main-ws-sec">
                            <div class="posts-section" id="myULS">
                                <div class="post-bar" *ngFor="let product of products">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img src="https://localhost:8443/api/users/{{product.product.iduser.idusers}}/imageProfile"
                                                alt="">
                                            <div class="usy-name">
                                                <h3>{{product.product.iduser.username}}</h3>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="epi-sec">
                                        <ul class="descp">
                                            <li><img src="../../../assets/images/icon8.png" alt=""><span>{{product.typeUser}}</span></li>
                                            <li><img src="../../../assets/images/icon9.png" alt=""><span>{{product.product.iduser.city}}</span></li>
                                        </ul>
                                        <ul class="bk-links">
                                            <li><a id="product{{product.product.idproduct}}" title=""><i (click)="mark(product.product.idproduct,product.product)" class="{{product.bookamark}}"></i></a></li>
                                            <li><a href="./messages?to={{product.product.iduser.username}}" title=""><i
                                                        class="la la-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="job_descp">
                                        <h3>{{product.product.title}}</h3>
                                        <div class="row">
                                            <div id="carouselExampleControls-{{product.product.idproduct}}" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                  <div class="carousel-item active" *ngIf="product.product.img0">
                                                    <img class="img-thumbnail" src="https://localhost:8443/api/products/{{product.product.idproduct}}/image0" alt="First slide">
                                                  </div>
                                                  <div class="carousel-item" *ngIf="product.product.img1">
                                                    <img class="img-thumbnail " src="https://localhost:8443/api/products/{{product.product.idproduct}}/image1" alt="Second slide">
                                                  </div>
                                                  <div class="carousel-item" *ngIf="product.product.img2">
                                                    <img class="img-thumbnail " src="https://localhost:8443/api/products/{{product.product.idproduct}}/image2" alt="Third slide">
                                                  </div>
                                                </div>
                                                <a class="carousel-control-prev" href="#carouselExampleControls-{{product.product.idproduct}}" role="button" data-slide="prev">
                                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                  <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleControls-{{product.product.idproduct}}" role="button" data-slide="next">
                                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                  <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <ul class="description-store">
                                                <li>
                                                    <p>{{product.product.description}}
                                                        
                                                    </p>
                                                </li>
                                            </ul>
                                        </div><br>
                                        <a id="readmore{{product.product.idproduct}}"
                                                class="btn btn-primary "
                                                (click)="readmore(product.product.idproduct)" title="">view more</a>
                                        <ul class="skill-tags">
                                            <li *ngIf="product.product.idtagone"><a href="#" title="">
                                                    <p style="color:#040500" >{{product.product.idtagone.description}}
                                                    </p>
                                                </a></li>
                                            <li *ngIf="product.product.idtagtwo"><a href="#" title="">
                                                    <p style="color:#040500" >{{product.product.idtagtwo.description}}
                                                    </p>
                                                </a></li>
                                            <li *ngIf="product.product.idtagthree"><a href="#" title="">
                                                    <p style="color:#040500" >
                                                        {{product.product.idtagthree.description}}
                                                    </p>
                                                </a></li>
                                            <li *ngIf="product.product.idtagfour"><a href="#" title="">
                                                    <p style="color:#040500" >
                                                        {{product.product.idtagfour.description}}
                                                    </p>
                                                </a></li>
                                            <li *ngIf="product.product.idtagfive"><a href="#" title="">
                                                    <p style="color:#040500" >
                                                        {{product.product.idtagfive.description}}
                                                    </p>
                                                </a></li>
                                        </ul>
                                    </div>
                                    <div class="job-status-bar" style="background-color:{{product.color}}">
                                        <div class="col-lg-3">
                                            <h3>{{product.product.status}}</h3>
                                        </div>
                                        <div class="col-lg-3">
                                            <h3> {{product.product.price}} $ </h3>
                                        </div>
                                    </div>
                                    
                                </div>
                                <!--post-bar end-->
                            </div>
                            <!--posts-section end-->
                            <div class="process-comm" (click)="load()">
                                <div class="spinner products">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>
                        <!--main-ws-sec end-->
                    </div>

                </div>
            </div><!-- main-section-data end-->
        </div>
    </div>
</main>
