<app-navbar></app-navbar>
<section class="profile-account-setting">
  <div class="container py-5 px-4">

    <div class="row rounded-lg overflow-hidden shadow">
      <!-- Users box-->
      <div class="col-5 px-0">
        <div class="bg-white">

          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0 py-1" id="userTo">{{to}}</p>
            <div class="d-flex justify-content-center">
              <a (click)="prev()" class="previous round">&#8249;</a>
              <a (click)="next()" class="next round">&#8250;</a>
            </div>
          </div>

          <div class="messages-box" style="height: 761px; max-height: 761px; overflow-y: scroll;">
            <div class="list-group rounded-0">
              <a *ngFor="let user of users" (click)="selectUser(user)"
                class="list-group-item list-group-item-action list-group-item-light rounded-0">
                <div class="media"><img src="https://localhost:8443/api/users/{{user.idusers}}/imageProfile" alt="user"
                    width="50" class="rounded-circle">
                  <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0">{{user.username}}</h6><small class="small font-weight-bold"></small>
                    </div>
                    <p class="font-italic text-muted mb-0 text-small"></p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Chat Box-->
      <div class="col-7 px-0">
        <div class="px-4 py-5 chat-box bg-white chat-history" id="messageList"
          style="max-width: 654.5px; max-height: 763px; width: 654.5px; height: 763px; overflow-y: scroll;">
          <ul>
            <div *ngFor="let msg of messages" class="media w-50 mb-3"><img src="https://localhost:8443/api/users/{{msg.iduser.idusers}}/imageProfile" alt="user" width="50"
                class="rounded-circle">
              <div class="media-body ml-3">
                <div class="bg-light rounded py-2 px-3 mb-2">
                  <p class="text-small mb-0 text-muted">{{msg.iduser.username}}: {{msg.message}}</p>
                </div>
                <p class="small text-muted">{{msg.time}}</p>
              </div>
            </div>
          </ul>
        </div>

        <!-- Typing area -->
        <form class="bg-light">
          <div class="input-group">
            <textarea [(ngModel)]="message" name="message-to-send" placeholder="Type your message" rows="3"
              style="width: 100%;"></textarea>
            <div class="input-group-append">
              <button (click)="send()" type="button" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>