<app-navbar></app-navbar>
<section class="profile-account-setting">
    <div class="container">
        <div class="account-tabs-setting">
            <div class="row">
                <div class="col-lg-3">
                    <div class="acc-leftbar">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">

                            <a class="nav-item nav-link active" id="nav-acc-tab" data-toggle="tab"
                                href="#nav-acc" role="tab" aria-controls="nav-acc" aria-selected="true"><i
                                    class="fa fa-cart-arrow-down"></i>Bookmark Products</a>

                            <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab"
                                href="#nav-requests" role="tab" aria-controls="nav-requests"
                                aria-selected="false"><i class="fa fa-group"></i>Follows</a>

                            <a class="nav-item nav-link" id="nav-modify-tab" data-toggle="tab"
                                href="#nav-modify" role="tab" aria-controls="nav-modify"
                                aria-selected="false"><i class="fa fa-address-card-o"></i>Modify Information</a>

                            <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab"
                                href="#nav-password" role="tab" aria-controls="nav-password"
                                aria-selected="false"><i class="fa fa-lock"></i>Change Password</a>



                        </div>
                    </div>
                    <!--acc-leftbar end-->
                </div>
                <div class="col-lg-9">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-acc" role="tabpanel"
                            aria-labelledby="nav-acc-tab">
                            <div class="acc-setting">
                                <h3>Bookmark Products</h3>
                                <div class="requests-list" *ngFor="let bookmark of bookmarks">
                                    <div class="request-details" id="product{{bookmark.idproduct.idproduct}}">
                                        <div class="noty-user-img">
                                            <img src="https://localhost:8443/imageProduct0/{{bookmark.idproduct.idproduct}}"
                                                alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>{{bookmark.idproduct.title}}</h3>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="close-req"><i
                                                            onclick="dropProduct('{{bookmark.idproduct.idproduct}}')"
                                                            class="la la-close"></i></button></li>
                                            </ul>
                                        </div>
                                        <!--accept-feat end-->
                                    </div>
                                    <!--request-detailse end-->
                                </div>
                                <!--requests-list end-->
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-status" role="tabpanel"
                            aria-labelledby="nav-status-tab">
                            <div class="acc-setting">
                                <h3>Profile Status</h3>
                                <div class="profile-bx-details">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="profile-bx-info">
                                                <div class="pro-bx">
                                                    <img src="images/pro-icon1.png" alt="">
                                                    <div class="bx-info">
                                                        <h3>$5,145</h3>
                                                        <h5>Total Income</h5>
                                                    </div>
                                                    <!--bx-info end-->
                                                </div>
                                                <!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                            <!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="profile-bx-info">
                                                <div class="pro-bx">
                                                    <img src="images/pro-icon2.png" alt="">
                                                    <div class="bx-info">
                                                        <h3>$4,745</h3>
                                                        <h5>Widthraw</h5>
                                                    </div>
                                                    <!--bx-info end-->
                                                </div>
                                                <!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                            <!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="profile-bx-info">
                                                <div class="pro-bx">
                                                    <img src="images/pro-icon3.png" alt="">
                                                    <div class="bx-info">
                                                        <h3>$1,145</h3>
                                                        <h5>Sent</h5>
                                                    </div>
                                                    <!--bx-info end-->
                                                </div>
                                                <!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                            <!--profile-bx-info end-->
                                        </div>
                                        <div class="col-lg-3 col-md-6 col-sm-12">
                                            <div class="profile-bx-info">
                                                <div class="pro-bx">
                                                    <img src="images/pro-icon4.png" alt="">
                                                    <div class="bx-info">
                                                        <h3>130</h3>
                                                        <h5>Total Projects</h5>
                                                    </div>
                                                    <!--bx-info end-->
                                                </div>
                                                <!--pro-bx end-->
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                            </div>
                                            <!--profile-bx-info end-->
                                        </div>
                                    </div>
                                </div>
                                <!--profile-bx-details end-->
                                <div class="pro-work-status">
                                    <!-- <h4>Work Status  -  Last Months Working Status</h4> -->
                                </div>
                                <!--pro-work-status end-->
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-password" role="tabpanel"
                            aria-labelledby="nav-password-tab">
                            <div class="acc-setting">
                                <h3>Account Setting</h3>
                                <form action="/changePassword" method="POST">
                                    <div class="cp-field">
                                        <h5>Old Password</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="oldpassword" placeholder="Old Password"
                                                required>
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>New Password</h5>
                                        <div class="cpp-fiel">
                                            <input id="newpass" type="password" name="newpassword"
                                                placeholder="New Password" required>
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Repeat Password</h5>
                                        <div class="cpp-fiel">
                                            <input id="repeatpass" type="password" name="repeatpassword"
                                                placeholder="Repeat Password" required>
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5><a href="/forgotPassword" title="">Forgot Password?</a></h5>
                                    </div>
                                    <div class="save-stngs pd2">
                                        <ul>
                                            <li><button type="submit">Save Setting</button></li>
                                            <li><button type="submit">Restore Setting</button></li>
                                        </ul>
                                    </div>
                                    <!--save-stngs end-->
                                </form>
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-notification" role="tabpanel"
                            aria-labelledby="nav-notification-tab">
                            <div class="acc-setting">
                                <h3>Notifications</h3>
                                <div class="notifications-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your
                                                project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Poonam Verma</a> Bid on your Latest
                                                project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Tonney Dhman</a> Comment on your project.
                                            </h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your
                                                project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your
                                                project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Poonam Verma </a> Bid on your Latest
                                                project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Tonney Dhman</a> Comment on your project
                                            </h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your
                                                project.</h3>
                                            <span>2 min ago</span>
                                        </div>
                                        <!--notification-info -->
                                    </div>
                                    <!--notfication-details end-->
                                </div>
                                <!--notifications-list end-->
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-requests" role="tabpanel"
                            aria-labelledby="nav-requests-tab">
                            <div class="acc-setting">
                                <h3>Follows</h3>
                                <div class="requests-list">
                                    <div *ngFor="let follow of followers" class="request-details" id="follower{{follow.iduserrelation}}">
                                        <div class="noty-user-img">
                                            <img src="https://localhost:8443/imageprofile/{{follow.usertwo.username}}"
                                                alt="">
                                        </div>
                                        <div class="request-info">
                                            <h3>{{follow.usertwo.username}}</h3>
                                        </div>
                                        <div class="accept-feat">
                                            <ul>
                                                <li><button type="submit" class="close-req"><i
                                                            onclick="unfollow(follow.iduserrelation)"
                                                            class="la la-close"></i></button></li>
                                            </ul>
                                        </div>
                                        <!--accept-feat end-->
                                    </div> 
                                </div>
                                <!--requests-list end-->
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-deactivate" role="tabpanel"
                            aria-labelledby="nav-deactivate-tab">
                            <div class="acc-setting">
                                <h3>Deactivate Account</h3>
                                <form action="/deleteUser" method="POST">
                                    <div class="cp-field">
                                        <h5>Email</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="email" placeholder="Email" required>
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Password</h5>
                                        <div class="cpp-fiel">
                                            <input type="password" name="pass" placeholder="Password" required>
                                            <i class="fa fa-lock"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Please Explain Further</h5>
                                        <textarea name="explication"></textarea>
                                    </div>
                                    <div class="save-stngs pd3">
                                        <ul>
                                            <li><button type="submit">Save Setting</button></li>
                                            <li><button type="reset">Restore Setting</button></li>
                                        </ul>
                                    </div>
                                    <!--save-stngs end-->
                                </form>
                            </div>
                            <!--acc-setting end-->
                        </div>
                        <div class="tab-pane fade" id="nav-modify" role="tabpanel"
                            aria-labelledby="nav-modify-tab">
                            <div class="acc-setting">
                                <h3>Information User</h3>
                                <form action="/modifyUser" method="POST" enctype="multipart/form-data">
                                    <div class="cp-field">
                                        <h5>Image Profile</h5>
                                        <div class="cpp-fiel">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-3 imgUp">
                                                        <div class="imagePreview"
                                                            style="background-image: url(https://localhost:8443/api/users/{{userpage.idusers}}/imageProfile);">
                                                        </div>
                                                        <label class="btn btn-primary">Upload<input
                                                                name="image" type="file" class="uploadFile img"
                                                                value="Upload Photo"
                                                                style="width: 0px;height: 0px;overflow: hidden;"
                                                                accept="image/*">
                                                        </label>
                                                        <i class="fa fa-times del"></i>
                                                    </div><!-- col-2 -->
                                                </div><!-- row -->
                                            </div><!-- container -->
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Username</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="username" placeholder="{{userpage.username}}">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Email</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="email" placeholder="{{userpage.email}}">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Name</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="name" placeholder="{{userpage.name}}">
                                            <i class="fa fa-bars"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>City</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="city" placeholder="{{userpage.city}}">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                    </div>
                                    <div class="cp-field">
                                        <h5>Links</h5>
                                        <div class="cpp-fiel">
                                            <input type="text" name="linkfacebook"
                                                placeholder="{{userpage.linkfacebook}}">
                                            <i class="fa fa-facebook-official"></i>
                                        </div><br>
                                        <div class="cpp-fiel">
                                            <input type="text" name="linkinstagram"
                                                placeholder="{{userpage.linkinstagram}}">
                                            <i class="fa fa-instagram"></i>
                                        </div><br>
                                        <div class="cpp-fiel">
                                            <input type="text" name="linktwitter" placeholder="{{userpage.linktwitter}}">
                                            <i class="fa fa-twitter"></i>
                                        </div>
                                    </div>
                                    <div class="save-stngs pd3">
                                        <ul>
                                            <li><button type="submit">Save Setting</button></li>
                                            <li><button type="reset">Restore Setting</button></li>
                                        </ul>
                                    </div>
                                    <!--save-stngs end-->
                                </form>
                            </div>
                            <!--acc-setting end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--account-tabs-setting end-->
    </div>
</section>
